services:
  duckdb_dev:
    image: duckdb/duckdb:latest
    container_name: duckdb_dev
    ports:
      - "4213:4213"
    volumes:
      - duckdb_dev_data:/var/lib/duckdb/data
    networks:
      - midas-net

  duckdb_prod:
    image: duckdb/duckdb:latest
    container_name: duckdb_prod
    ports:
      - "4214:4213"
    volumes:
      - duckdb_prod_data:/var/lib/duckdb/data
    networks:
      - midas-net

  postgres:
      image: postgres:15
      environment:
        POSTGRES_USER: airflow
        POSTGRES_PASSWORD: airflow
        POSTGRES_DB: airflow
      ports:
        - "5434:5432"
      volumes:
        - ./airflow/postgres-data:/var/lib/postgresql
      networks:
        - midas-net

  airflow-api-server:
      image: apache/airflow:3.1.5
      env_file:
        - ./airflow/.env
      depends_on:
        - postgres
      environment:
        AIRFLOW__CORE__EXECUTOR: LocalExecutor
        AIRFLOW__CORE__FERNET_KEY: ${AIRFLOW__CORE__FERNET_KEY}
        AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
      volumes:
        - ./airflow/dags:/opt/dags
        - ./airflow/logs:/opt/logs
        - ./airflow/plugins:/opt/plugins
      ports:
        - "8080:8080"
      command: api-server
      networks:
        - midas-net

  airflow-scheduler:
    image: apache/airflow:3.1.5
    env_file:
        - ./airflow/.env
    depends_on:
      - postgres
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__FERNET_KEY: ${AIRFLOW__CORE__FERNET_KEY}
      AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
    volumes:
      - ./airflow/dags:/opt/dags
      - ./airflow/logs:/opt/logs
      - ./airflow/plugins:/opt/plugins
    command: scheduler
    networks:
      - midas-net

volumes:
  duckdb_dev_data:
  duckdb_prod_data:

networks:
  midas-net:
    driver: bridge